<h3>Edit Bottle of Wine</h3>
<%= form_for @bottle do |f| %>
  <% if @bottle.errors.any? %>
    <div>
      <%= pluralize(@bottle.errors.count, "error") %> prevented the account from being created:
      <ul>
        <% @bottle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label "name" , "Bottle name"%><br>
    <%= f.text_field "name" %>
  </div>
  <div>
    <%= f.label "grape", "Grape" %><br>
    <%= f.text_field "grape" %>
  </div>
  <div>
    <%= f.label "vintage", "vintage" %><br>
    <%= f.date_field "vintage" %>
  </div>
  <div>
    <%= f.label "winery" ,"winery"%><br>
    <%= f.text_field "winery" %>
  </div>
  <div>
    <%= f.label "description", "Tell me a little bit more about your event" %><br>
    <%= f.text_area "description" %>
  </div>
  <hr>
  <h4>Edit Review</h4>
  <div>
    <%= fields_for :review, @review do |rf| %>
  <div>
    <%= rf.label :comment, 'Comments' %><br>
    <%= rf.text_area :comment %>
  </div>
  <div>
    <%= rf.label :my_rating, "Rate bottle" %><br>
    <%= rf.number_field :my_rating %>
  </div>
  <div>
    <%= rf.label :favorite, "Is it your favorite" %><br>
    <%= rf.text_field :favorite %>
  </div>
  <% end %>
  </div>
  <div><%= f.submit "Uncork" %></div>
<% end %>