<h3>All Wine Bottles</h3>
<div>
  <% @bottles.each do |bottle| %>
    <h1><%= link_to bottle.name, bottle_path(bottle) %></h1>
    <%= bottle.grape %>
    <%= bottle.vintage %>
    <%= bottle.winery %>
    <%= bottle.description%>
    <hr>
  <% end %>
</div>