

<h3>All Wine Bottles</h3>
<div class="hover-tile-outer">
  <div class="hover-tile-container">
    <div class="hover-tile hover-tile-visible"></div>
    <div class="hover-tile hover-tile-hidden">
      <h4>Hidden Copy</h4>
      <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
    </div>
  </div>
</div>

<div>
  <% @bottles.each do |bottle| %>
    <h1><%= link_to bottle.name, bottle_path(bottle) %></h1>
    <%= bottle.grape %>
    <%= bottle.vintage %>
    <%= bottle.winery %>
    <%= bottle.description%>
    <hr>
  <% end %>
</div>

<form class="search">
Search Wine Database:<br>
<input type="text" name="search">
</form>

<div class="cards">
</div>

<div><strong>Your Favorites</strong></div>
<br>
<br>
<br>

<div>
    <p style="float: left"><img src="http://www.napavintners.org/images/winery_Labels/Napa%20Wine-250HW.jpg" alt="Ghost Block" style="width:200px;height:228px"></p>
    <p>Name: Ghost Block Yountville Cabernet Sauvignon 2007</p>
    <p>Price: 74.99</p>
    <p>Your Rating: 4.5/5</p>
    <p>Your Notes: Very well balanced, dark but not overly sweet. Great to bring to a nice dinner party or with steak</p>
    <p id="notes">Hover for Winemaker's Notes</p>

</div>


