<h2>Add New Bottle of Wine</h2>
<%= form_for @bottle do |f| %>
  <% if @bottle.errors.any? %>
    <div>
      <%= pluralize(@bottle.errors.count, "error") %> prevented the account from being created:
      <ul>
        <% @bottle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "winery_id" , "Winery ID"%><br>
    <%= f.collection_select(:winery_id, Winery.all, :id, :name) %>
  </div>
  <div class="form-group">
    <%= f.label "name" , "Bottle name"%><br>
    <%= f.text_field :name, autofocus: true, placeholder: "Bottle name", :required => 'required' %>
  </div>
  <div class="form-group">
    <%= f.label "grape", "Grape" %><br>
    <%= f.text_field "grape", autofocus: true, placeholder: "Grape", :required => 'required' %>
  </div>
    <div class="form-group">
    <%= f.label "vintage", "Vintage" %><br>

    <%= f.select :vintage, (Time.zone.now.year - 100)..(Time.zone.now.year + 1), :required => 'required' %>
  </div>
  <div class="form-group">
    <%= f.label "label_image", "Label image" %><br>
    <%= f.text_field "label_image", autofocus: true, placeholder: "Upload image (url for now)" %>
  </div>
  <div class="form-group">
    <%= f.label "more_url", "More URL" %><br>
    <%= f.text_field "more_url", autofocus: true, placeholder: "More information (url)" %>
  </div>
  <div class="form-group">
    <%= f.label "description", "Bottle Label (Story)" %><br>
    <%= f.text_area "description", autofocus: true, placeholder: "Story", autofocus: true, placeholder: "Story on the label" %>
  </div>
          <span class="btn"><%= f.submit "Uncork" %></span>
    </section>
  <% end %>
</div>
