<h3>Welcome !!!</h3>

<div><h3>**** upcoming bottles **** </h3>
   <div>

<% @bottles.each do |bottle| %>
   <ul>
      <li><%= bottle.bottle_title %></li>
      <li><%= bottle.bottle_venue %></li>
      <li><%= bottle.bottle_date %></li>
      <li><%= bottle.duration %></li>
      <li><%= bottle.description%></li>
   </ul>
   <hr>
    <% end %>
   </div>
</div>