<h3>Welcome !!!</h3>
<div><h3>**** upcoming bottles **** </h3>
   <div>
   <ul>
      <li><%= @bottle.name %></li>
      <li><%= @bottle.color %></li>
      <li><%= @bottle.grape %></li>
      <li><%= @bottle.vintage %></li>
      <li><%= @bottle.winery %></li>
      <li><%= @bottle.region %></li>
      <li><%= @bottle.alcohol %></li>
      <li><%= @bottle.price %></li>
      <li><%= @bottle.description%></li>
   </ul>
   <hr>
   </div>
</div>

