<div class="show">
<div class="show">
	<section class="main bottle">

		<div class="block">
			<!-- <img src="http://bit.ly/1OtrDxf" alt="event picture" class="event-img" > -->
			<img class="imagefit" src="<%= @bottle.label_image %>" alt="wine bottle image">
		</div>

		<div class="block">
			<h2><%= @bottle.name %></h2>
			<%= link_to "Edit", edit_bottle_path(@bottle) %> | 
			<%#= link_to "Delete", new_bottle_path %>
			<%#= link_to "DELETE BOTTLE", bottles_destroy_path %>
			<hr>
			<ol>
				<li><%= @bottle.grape %></li>
				<li><%= @bottle.year %></li>
				<li><%= @bottle.winery %> winery</li>
				<hr>
				<li><%= @bottle.description %></li>
			</ol>
		</div>

	</section>
</div>
	</hr>

	<section class="review-table">

		<% if current_user != nil %>
				<div class="block big-number">
					<%= @bottle.reviews.take.my_rating %>
				</div>

				<div class="block">
					<p><%= @bottle.reviews.where(user_id: current_user.id).take.comment %></p>
				</div>
		<% end %>
	</section>

</div>
