<h2><%= @bottle.name %></h2>

<% if current_user %>
	<%if current_user.bottles.include?(@bottle) %>
		<p><%= link_to "remove from my library", remove_from_library_path(@bottle) %><br>
	<% else %>
		<p><%= link_to "add to my library", add_to_library_path(@bottle) %><br>
	<%end%>
<% end %>

Grape: <%= @bottle.grape %><br>
Winery: <%= @bottle.winery.name %> <br>
Region: <%= @bottle.winery.region.name %> <br>
Description: <%= @bottle.description %><br><br>

Average rating: <%= average_rating %><br>

<h3>Reviews</h3>
<%if @bottle.reviews.any? %>
	<% @bottle.reviews.each do |review| %>
		<p><%= review.user.fname %></p>
		<p><%= review.my_rating %></p>
		<p><%= review.comment %></p>
		<% if review.user == current_user %>
			<%= link_to "Edit", edit_bottle_review_path(@bottle, review) %>
			<%= link_to "Delete", bottle_review_path(@bottle, review), method: 'delete' %>
		<% end %>
		<hr/>
	<% end%>
<% else %>
	<p>No reviews.</p>
	<%if current_user %>
		<%= link_to "Add review", new_bottle_review_path(@bottle) %>
	<% end %>
<% end %>