<div class="show">

	<div class="eventinfo">
		<section class="event1"> 
			<img class="imagefit" src="<%= @bottle.label_image %>" alt="profile picture" class="event-image">
		</section>

		<div class="eventdetails">
			<h2><%= @bottle.name %></h2>
			
 			<p>Grape: <%= @bottle.grape %><br>
				Year:	<%= @bottle.year %><br>
				Winery: <%= @bottle.winery %> <br>
				Description: <%= @bottle.description %></p>

		<br>
		<h3>Reviews</h3>

		<% if current_user %>

			<% if @bottle.reviews = [] %>
				<% "no reviews created"%>
			<% else %>

				<% if @bottle.reviews.where(user_id: current_user.id).take.favorite = true %>
					<%= image_tag(("/assets/add_bottle.svg"), :class => "svg") %>
				<% end %>
				<div class="block big-number">
					<%= @bottle.reviews.where(user_id: current_user.id).take.my_rating %>
				</div>

				<div class="block">
					<p><%= @bottle.reviews.where(user_id: current_user.id).take.comment %></p>
				</div>
				<hr>
		<% end %>
		<% end %>
			<% @bottle.reviews.each do |review| %>
				<%= review.comment %>
			<% end %>

		</div>
	</div>

	<div> 
		<p><%= link_to "edit", edit_bottle_path(@bottle) %> </p>
	</div>
	
	<hr>

</div>