
<%= link_to "Edit Bottle", edit_bottle_path(@bottle) %>

<h1><%= @bottle.name %></h1>
<hr>
<%= @bottle.color %><br>
<%= @bottle.grape %><br>
<%= @bottle.vintage %><br>
<%= @bottle.winery %><br>
<%= @bottle.region %><br>
<%= @bottle.alcohol %><br>
<%= @bottle.price %><br>
<%= @bottle.description %><br>