<h1>HERE AND NOW WE ARE BUILDING VIRTUAL WINE LIBRARY</h1>

<h2>This is our fake users </h2>

<% @user.each do |user| %>
  <dl>
    <dt>
    <img src="<%= user.avatar_url %>" alt="profile_image">
    <h1><%= user.full_name %></h1>
    <h2><%= user.age %> | <%= user.region %></h2>
    <p><%= user.description %></p>
    </dt>
  </dl>
  <hr>
<% end %>