<h1>Users sign up page</h1>

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div>
      <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label "email" %><br>
    <%= f.text_field "email" %>
  </div>
  <div>
    <%= f.label "fname", "First Name" %><br>
    <%= f.text_field "fname" %>
  </div>
  <div>
    <%= f.label "lname", "Last Name" %><br>
    <%= f.text_field "lname" %>
  </div>
  <div>
    <%= f.label "password" %><br>
    <%= f.password_field "password" %>
  </div>
  <div>
    <%= f.label "password_confirmation" %><br>
    <%= f.password_field "password_confirmation" %>
  </div>

  <div>
    <%= f.label "region", "Region" %><br>
    <%= f.select(:region, options_for_select([["Okanagan", "Okanagan"], ["Naramata Bench", "Naramata Bench"], ["Prince Edward County", "Prince Edward County"]])) %>
  </div>

  <div>
    <%= f.label "avatar_url", "Profile image (url)" %><br>
    <%= f.text_field "avatar_url" %>
  </div>

  <div>
    <%= f.label "description", "Profile description" %><br>
    <%= f.text_area "description" %>
  </div>

  <div>
    <%= f.label "age", "Birthday" %><br>
    <%= f.date_field "age" %>
  </div>

  <div><%= f.submit "Submit" %></div>
<% end %>
