<div class="form">

<h2>Lets get you started...</h2>

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div class="center_with_shift">
      <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-group">
    <%= f.label "email" %></br>
    <%= f.text_field "email" %>
 </div>
  <div class="form-group">
    <%= f.label "fname", "First Name" %></br>
    <%= f.text_field "fname" %>
 </div>
  <div class="form-group">
    <%= f.label "lname", "Last Name" %></br>
    <%= f.text_field "lname" %>
 </div>
  <div class="form-group">
    <%= f.label "password" %></br>
    <%= f.password_field "password" %>
 </div>
  <div class="form-group">
    <%= f.label "Re-type password" %></br>
    <%= f.password_field "password_confirmation" %>
 </div>
  <div class="form-group">
    <%= f.label "avatar_url", "Profile image (url)" %></br>
     <%= f.text_field "avatar_url" %>
 </div>
  <div class="form-group">
    <%= f.label "description", "Profile description" %></br>
    <%= f.text_area "description" %>
 </div>
  <div class="form-group">
  <%= f.label "birthday", "Birthday" %></br>
  <%= f.date_field "birthday" %>
 </div>
  <div class="form-group">
 </div>


<!--    
<div>
<div class="form-group">
<label for="exampleInputFile">File input</label>
<input type="file" id="exampleInputFile">
</div>
</div>
 -->

 <div class="form-group submit-button"><%= f.submit "Submit"%></div>
<% end %>
</div>

