<div id="user" class="flex-box">
	<h1>All User Related Data</h1>
	<%= link_to "Edit User", edit_user_path(current_user) %>
	<!-- <img src="<%#= @user.avatar_url %>" alt="profile picture"> -->
	
	<h1>Full name:<%= @user.full_name %></h1>
	<h2>Age:<%= @user.birthday %></h2>
	<p>Description:<%= @user.description %></p>
	<p>Email:<%= @user.email %></p>
</div>

<div id="event" class="flex-box">
	<h1>All Events Related Data</h1>
	<%= link_to "Add an event", new_event_path %>
	<h2>Events I created</h2>
	<% if @user.events.all == [] %>
				<p>"no events created"</p>
			<% else %>
				<% @user.events.each do |event| %>
				<h3><%= link_to event.title, event_path(event) %></h3>
				<% end %>
			<% end %>

	<h2>Last Events I created</h2>
	<p><%= @user.events.last.title %>		
	<h2>Events I attended</h2>
	<h3>Last event I attended</h3>
	<h3>Last events attendees</h3>
</div>

<div id="bottle" class="flex-box">
	<h1>All Bottles Related Data</h1>
	<%= link_to "Add an bottle", new_bottle_path %>
	<h2>Bottles created</h2>
		<% if @user.bottles.all == [] %>
						<p>"no bottles created"</p>
					<% else %>
						<% @user.bottles.each do |bottle| %>
						<h3><%= link_to bottle.name, bottle_path(bottle) %></h3>
						<% end %>
					<% end %>
	<h2>Last bottle created</h2>
	<h3>Last bottle review</h3>
</div>