<div id="user" class="flex-box" >


	<div class="section">

		<div class="icon-link">
			<div class="svg">
				<%= link_to image_tag("/assets/create_event.svg"), new_event_path %>
				<%= link_to "Create an event", new_event_path %>
			</div>
		</div>

		<div class="icon-link">
			<div class="svg">
				<%= link_to image_tag("/assets/add_bottle.svg"), new_bottle_path %>
				<%= link_to "Add a bottle", new_bottle_path %>
			</div>
		</div>

		<div class="icon-link">
			<div class="svg">
	      <%= link_to image_tag("/assets/search.svg"), bottles_path %>
	      
	      <%= link_to "Search", bottles_path %>
	    </div>
	  </div>
	</div>
	</div>
	<hr>
	<h2>My Events </h2>
<div class="outerbottle" style = "text-align: center">
     <% if @user.events.all == [] %>
<% else %>
			<% @user.events.each do |event| %>
	     <div class="bottlecard">

       <div class="bottle-card-image">
         <img src="<%= event.event_image%>">
       </div>
       <div class="bottle-card-header">
        <%= link_to event.title, event_path(event) %>
      
       </div>
       <div class="bottle-card-copy">
      <%= event.description %>
       </div>
     </div>
      <% end %>
      <% end %>
  </div>
  <hr>
<!--   <div class="outerbottle" style = "text-align: center">
    <% if @user.bottles.all == [] %>
					<p>"no bottles in collection"</p>
			<% else %>
				<% @user.reviews.where(favorite: true).each do |review| %>
	     <div class="bottlecard">

       <div class="bottle-card-image">
         <img src="<%= Bottle.find(review.bottle_id).label_image %>">
       </div>
       <div class="bottle-card-header">
       <%= Bottle.find(review.bottle_id).name %>
      
       </div>
       <div class="bottle-card-copy">
     <%= Bottle.find(review.bottle_id).year %>
       </div>
     </div>
      <% end %>
      <% end %>
  </div>
  <hr> -->
  <h2>My Favorites </h2>

    <div class="outerbottle" style = "text-align: center">
    	<% if @user.bottles.all == [] %>
					<p>"no bottles created"</p>
				<% else %>
					<%@user.bottles.each do |bottle|  %>
	     <div class="bottlecard">

       <div class="bottle-card-image">
         <img src="<%= bottle.label_image %>">
       </div>
       <div class="bottle-card-header">
       <%= link_to bottle.name, bottle_path(bottle) %>
      
       </div>
       <div class="bottle-card-copy">
     <%= bottle.year %>
       </div>
     </div>
      <% end %>
      <% end %>
  </div>


