<h3>Favorite bottles</h3>
<% if @user.reviews.where(favorite: true).any? %>
  <% @user.reviews.where(favorite: true).each do |review| %>
    <%= link_to Bottle.find(review.bottle_id).name, bottle_path(review.bottle_id) %><br/>
  <% end %>
<% else %>
  <p>User has not favorited any bottles</p>
<% end %>

<h3>Ranked 5 Stars</h3>
<% if @user.reviews.where(my_rating: 5).any? %>
  <% @user.reviews.where(my_rating: 5).each do |review| %>
    <%= link_to Bottle.find(review.bottle_id).name, bottle_path(review.bottle_id)  %><br/>
  <% end %>
<% else %>
  <p> User has no bottles ranked at 5</p>
<% end %>

<h3>My 5 recently added</h3>
<% if @user.bottles.any? %>
  <% @user.bottles.last(2).each do |bottle| %>
    <%= link_to bottle.name, bottle_path(bottle.id) %><br/>
  <% end %>
<% end %>
<h3>My Bottles </h3>
<% if @user.bottles.any? %>
  <% @user.bottles.each do |bottle| %>
    <%= link_to bottle.name, bottle_path(bottle.id)  %><br/>
  <% end %>
<% else %>
  <p>User has no bottles.</p>
<% end %>

<h3>My Events</h3>
<% if @user.events.any? %>
  <p>User has created these events.</p>

  <% @user.events.each do |event| %>
    <%= link_to event.title, event_path(event.id)  %><br/>
  <% end %>
<% else %>
  <p>User has no events.</p>
<% end %>
<h3>My Reviews</h3>

<h3>My Upcoming Events</h3>
<h3>My Past Events</h3>
<h3>My Created Events</h3>