<div id="user" class="flex-box">

	<div class="section">
		
		<div class="icon-link">
			<div class="svg">
				<%= link_to image_tag("/assets/create_event.svg"), new_event_path %>
				<%= link_to "Create an event", new_event_path %>
			</div>
		</div>

		<div class="new">
			<h2>Events I created</h2>
			<% if @user.events.all == [] %>
				<p>"no events created"</p>
			<% else %>
				<% @user.events.each do |event| %>
					<img  class="event-img" src="http://bit.ly/1OtrDxf" alt="event picture">
					<h3><%= link_to event.title, event_path(event) %></h3>
					<p><%= event.description %></p>
				<% end %>
			<% end %>
		</div>

		<div class="e-other">
			<h2>Last Events I created</h2>
			<% if @user.events.all == [] %>
				<p>"no events created"</p>
			<% else %>
				<p><%= @user.events.last.title %>	</p>
			<% end %>
		</div>
	</div>

<hr>

	<div class="section">
		<div class="icon-link">
			<div class="svg">
				<%= link_to image_tag("/assets/add_bottle.svg"), new_bottle_path %>
				<%= link_to "Add a bottle", new_bottle_path %>
			</div>
		</div>

		<div class="new">
			<h2>Bottles added</h2>
			<% if @user.bottles.all == [] %>
				<p>"no bottles created"</p>
			<% else %>
				<%@user.bottles.each do |bottle|  %>
					<h3><%= link_to bottle.name, bottle_path(bottle) %></h3>
				<% end %>
			<% end %>
		</div>

		<div class="e-other">
			<h2>Reviews created</h2>
			<% if @user.reviews.all == [] %>
				<p>"no reviews created"</p>
			<% else %>
				<% @user.reviews.each do |review| %>
					<p><%= review.comment %></p>
				<% end %>
			<% end %>
		</div>
	</div>
		<hr>

	<div class="section">
		<div class="icon-link">
			<div class="svg">
				<%= link_to image_tag("/assets/profile_default.svg"), edit_user_path(current_user) %>
				<%= link_to "Edit Profile", edit_user_path(current_user) %>
			</div>
		</div>

		<div class="p-descr">
			<h3><%= @user.fname %> is...</h3>
			<p>Description:<%= @user.description %></p>
		</div>
	</div>
	
</div>
