<div id="user" class="flex-box" >

	<div class="section">

		<div class="icon-link">
			<div class="svg">
				<%= link_to image_tag("/assets/create_event.svg"), new_event_path %>
				<%= link_to "Create an event", new_event_path %>
			</div>
		</div>

		<div class="icon-link">
			<div class="svg">
				<%= link_to image_tag("/assets/add_bottle.svg"), new_bottle_path %>
				<%= link_to "Add a bottle", new_bottle_path %>
			</div>
		</div>

		<div class="icon-link">
			<div class="svg">
	      <%= link_to image_tag("/assets/search.svg"), bottles_path %>
	      
	      <%= link_to "Search", bottles_path %>
	    </div>
	  </div>
	</div>
	</div>
	<hr>

<!--
<h3>Favorite wines</h3>
<% @user.reviews.where(favorite: true).limit(5).each do |review| %>
	<p><%= link_to Bottle.find(review.bottle_id).name, bottle_path(review.bottle_id)  %></p>
<% end %>
<em><%= link_to 'the entire list of favorites', bottles_favorite_path %></em>
 -->

<div class="outerbottle" style = "text-align: center">

	     <div class="bottlecard">
       <div class="bottle-card-image">
     			   <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/matte-red-and-white-square-icons-culture/123077-matte-red-and-white-square-icon-culture-heart-solid-sc44.png">
       </div>
           		 
       <div class="bottle-card-copy">
      <% @user.reviews.where(favorite: true).each do |review| %>
		<li><%= link_to Bottle.find(review.bottle_id).name, bottle_path(review.bottle_id) %></li>	
	<% end %>
       </div>
     </div>

      <div class="bottlecard">
       <div class="bottle-card-image">
     			   <img src="https://eatsmartblog.files.wordpress.com/2014/05/5starreviews-1.png">
       </div>
       <div class="bottle-card-copy"> 
           <% @user.reviews.where(my_rating: 5).each do |review| %>
       	   
					<li><%= link_to Bottle.find(review.bottle_id).name, bottle_path(review.bottle_id)  %></li>
					<% end %>		 
       
        </div>
     </div>
       <div class="bottlecard">
       <div class="bottle-card-image">
     			   <img src="http://3.bp.blogspot.com/-aheusxehvh0/UB_8G_uaL6I/AAAAAAAAAcU/hkxxhP2Lv78/s200/stars1.gif">
       </div>
       <div class="bottle-card-copy"> 
          <% @user.reviews.where('my_rating > 3').each do |review| %>
		<li><%= link_to Bottle.find(review.bottle_id).name, bottle_path(review.bottle_id)  %></li>
	<% end %>
       
        </div>
     </div>
     
  </div>


	<hr>
	<h2>My Events </h2>
<div class="outerbottle" style = "text-align: center">
     <% if @user.events.all == [] %>
<% else %>
			<% @user.events.each do |event| %>
	     <div class="bottlecard">

       <div class="bottle-card-image">
         <img src="<%= event.event_image%>">
       </div>
       <div class="bottle-card-header">
        <%= link_to event.title, event_path(event) %><br>
       </div>
     		<%= link_to "Cancel event", event_path(event), method: :delete, confirm: "You sure?" %> 
       <div class="bottle-card-copy">
      <%= event.description %>
       </div>
     </div>
      <% end %>
      <% end %>
  </div>
  <hr>

  <h2>All User Bottles </h2>

    <div class="outerbottle" style = "text-align: center">
    	<% if @user.bottles.all == [] %>
					<p>"no bottles created"</p>
				<% else %>
					<%@user.bottles.limit(5).each do |bottle|  %>
	     <div class="bottlecard">

       <div class="bottle-card-image">
         <img src="<%= bottle.label_image %>">
       </div>
       <div class="bottle-card-header">
       <%= link_to bottle.name, bottle_path(bottle) %>
       </div>
        <%#= link_to "Remove", remove_path(bottle) %>
        <%#= link_to "Remove", remove_path(bottle) %>



       <div class="bottle-card-copy">
     <%= bottle.year %>
       </div>
     </div>
      <% end %>
      <% end %>
  </div>