<div id="user" class="flex-box">

	<div class="section">
		
		<div class="icon-link">
			<div class="svg">
				<%= link_to image_tag("/assets/create_event.svg"), new_event_path %>
				<%= link_to "Create an event", new_event_path %>
			</div>
		</div>

		<div class="new">
			<h2>MY EVENTS</h2>
			<% if @user.events.all == [] %>
				<p>"no events created"</p>
			<% else %>
				<% @user.events.each do |event| %>
				<div class="new-item">
					<img  class="event-img" src="http://bit.ly/1OtrDxf" alt="event picture">
					<h3><%= link_to event.title, event_path(event) %></h3>
					<p><%= event.description %></p>
				</div>
				<% end %>
			<% end %>
		</div>

		<div class="new">
			<h2>RECENT EVENT</h2>
			<% if @user.events.all == [] %>
				<p>"no events created"</p>
			<% else %>
				<ol>
					<li><%= @user.events.last.title %></li>
				</ol>
			<% end %>
		</div>
	</div>

	<hr>

		<div class="section">

			<div class="icon-link">
				<div class="svg">
					<%= link_to image_tag("/assets/add_bottle.svg"), new_bottle_path %>
					<%= link_to "Add a bottle", new_bottle_path %>
				</div>
			</div>

			<div class="new">
				<h2>RECENT NEW BOTTLES</h2>
				<% if @user.bottles.all == [] %>
					<p>"no bottles created"</p>
				<% else %>
					<%@user.bottles.each do |bottle|  %>
						<div class="new-item">
							<img  class="event-img" src="http://bit.ly/1OtrDxf" alt="event picture">
							<h3><%= link_to bottle.name, bottle_path(bottle) %></h3>
							<p><%= bottle.description %></p>
						</div>
					<% end %>
				<% end %>
			</div>

			<div class="new">
				<h2>RECENT REVIEWS</h2>
				<% if @user.reviews.all == [] %>
					<p>"no reviews created"</p>
				<% else %>
						<% @user.reviews.each do |review| %>
						<p><%= review.comment %></p>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>