<div id="welcome">
  <div class="container valign-wrapper">
    <div class="row z-depth-2 valign">
      <div class="col s4">
              <%= link_to image_tag("/assets/search.svg"), bottles_path %>
        <%= link_to "Search", bottles_path %>
      </div>
      <div class="col s4">
              <%= link_to image_tag("/assets/search.svg"), bottles_path %>
        <%= link_to "Search", bottles_path %>
      </div>
      <div class="col s4">
          <div class="card-image">
            <%= link_to image_tag("/assets/search.svg"), bottles_path %>
            <%= link_to "Search", bottles_path %>
          </div>
      </div>
    </div>
  </div>
</div>
