<div class="outer">
  <!-- adding background image and adding Title -->
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>Taste swing</h1>
          <div class="icon-svg">
            <%= link_to image_tag("/assets/create_event.svg"), new_event_path %>
            <%= link_to "Create an event", new_event_path %>
          </div>
          <div class="icon-svg">
            <%= link_to image_tag("/assets/add_bottle.svg"), new_bottle_path %>
            <%= link_to "Add new bottle", new_bottle_path %>
          </div>
          <div class="icon-svg">
            <%= link_to image_tag("/assets/search.svg"), bottles_path %>
            <%= link_to "Search", bottles_path %>
          </div>
      </div>
    </div>
  </div>
</div>