<h3>Edit <%= @event.title %></h3>
<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
      <%= pluralize(@event.errors.count, "error") %> prevented the event from being edited:
        <% @event.errors.full_messages.each do |msg| %>
          <%= msg %>
        <% end %>
  <% end %>
  <%= f.hidden_field :user_id, :value => current_user.id%>
  <%= f.label "title" , "Title"%><br>
  <%= f.text_field "title" %><br>
  <%= f.label "venue", "Venue" %><br>
  <%= f.text_field "venue" %><br>
  <%= f.label "date", "Date (when?)" %><br>
  <%= f.date_field "date" %><br>
  <%= f.label "duration" ,"Duration (minutes)"%><br>
  <%= f.number_field "duration" %><br>
  <%= f.label "description", "Tell me a little bit more about your event" %><br>
  <%= f.text_area "description" %><br>
  <%= f.submit "Edit" %>
<% end %>