<h3>All Events</h3>
  <% @events.each do |event| %>
		<%= link_to 'delete', delete_bottle_path %>
		<%= event.venue %><br>
		<%= event.date %><br>
		<%= event.duration %><br>
		<%= event.description%><br>
		<hr>
  <% end %>
</h1>=