<h3>Welcome !!!</h3>

<div><h3>**** upcoming events **** </h3>
   <div>
   <ul>
      <li><%= @event.event_title %></li>
      <li><%= @event.event_venue %></li>
      <li><%= @event.event_date %></li>
      <li><%= @event.duration %></li>
      <li><%= @event.description%></li>
   </ul>
   <hr>
   </div>
</div>


