<div class="show">

	<section> 
		<h2><%= @event.title %></h2>
		<%= link_to "Edit Event", edit_event_path(@event) %>
		<img class="one" src="http://bit.ly/1A3L9UY">
		<p><%= @event.venue %></p>
		<p><%= @event.date.strftime("%m/%d/%Y") %></p>
		<p>Currently in a flight <%= @event.flights.size %> bottles.<br>
		<hr>
		<% if @event.flights.size > 0 %>
			<% @event.bottles.each do |bottle| %>
				<div class="bottle-item">
					<h1><%= bottle.name %></h1><hr>
					<p><%= link_to 'delete',  {:controller => "events", :action => "delete_bottle", :bottle_id => bottle.id, :event_id => @event.id } %></p>
				</div>
				<div class="bottle-item">
					<div class="bottle-thumb">
						<img class="thumbnail" src="http://bit.ly/1A3L9UY", alt="label image">
					</div>
					<p><%= bottle.description %></p>
				</div>
				<div class="bottle-item">
					<div class="bottle-details">
						<%= bottle.year %> | <%= bottle.grape %> | <%= bottle.year %> | <%= bottle.winery %><br>
						<p><%= bottle.more_url %></p>
					</div>
				</div>
			<% end %>
		<% else %>
				<%= link_to "Add Bottle", edit_event_path(@event) %>	
		<% end %>
	</section>
</div>