
<%= link_to "Edit Event", edit_event_path(@event) %>

<h1><%= @event.event_title %></h1>
<hr>
<%= @event.event_venue %><br>
<%= @event.event_date %><br>
<%= @event.duration %><br>
<%= @event.description%><br>