<h2><%= @event.title %></h2>
<%= link_to "Modify event info", edit_event_path(@event) %>
<%= link_to "Cancel event", event_path(@event), method: :delete, confirm: "You sure?" %><br>
Event date: <%= @event.date.strftime("%m/%d/%Y") %></br>
Event venue: <%= @event.venue %></br>
Event organizer: <%= @event.user.fname %><br/>
Event description: <%= @event.description %><br>
<br>
<h3>"Add bottle to event"</h3>

<%= form_tag add_bottle_to_event_path, :method => :post do %>
  <ul>
  <% for bottle in Bottle.where.not(id: @event.bottles.ids) do %>
    <li>
      <%= check_box_tag "bottle_ids[]", bottle.id %>
      <%= bottle.name %>
    </li>
  <% end %>
  </ul>
  <%= submit_tag "Add bottle to event" %>

<% end %>

<h3>Taste Flights</h3>

<% if @event.bottles.any? %>
  <% @event.bottles.each do |bottle| %>
    <%= bottle.name %>
  <% end %>
<% end %>