<h2><%= @event.title %></h2>
<%= link_to "Modify event info", edit_event_path(@event) %>
<%= link_to "Cancel event", event_path(@event), method: :delete, confirm: "You sure?" %><br>
Event date: <%= @event.date.strftime("%m/%d/%Y") %></br>
Event venue: <%= @event.venue %></br>
Event organizer: <%= @event.user.fname %><br/>
Event description: <%= @event.description %><br>

<%= link_to "Add Bottle", edit_event_path(@event) %>	
<!-- <#% if @event.flights.size > 0 %#> -->
<!-- <#% @event.flights.each do |flight| %#> -->
<%#= link_to flight.bottle.name, bottle_path(flight.bottle_id) %> 
<!-- <#%= link_to 'delete', {:controller => "events", :action => "delete_bottle", :flight_id => flight.id, :event_id => @event.id } %#> -->
<%#= flight.bottle.year %>