<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to "About",welcome_about_path %></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>       
        <% if current_user %>       
          <li class="nav-link">
            <div class="navigation-tools">
              <div class="search-bar">
                <form role="search">
                  <input type="search" placeholder="Enter Search" />
                  <button type="submit">
                  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
                  </button>
                </form>
              </div>
            </div>
          </li>  
          <li class="nav-link"><%= link_to "Create event", new_event_path %></li>
          <li class="nav-link"><%= link_to "Add bottle", new_bottle_path %></li>
          <li class="nav-link more"><%= link_to current_user.fname %>
            <ul class="submenu">
              <li><%= link_to "Log out", session_path("current"), method: :delete %></li>
              <li><%= link_to "Profile", user_path(current_user) %></li>
            </ul>
          </li>
          <!-- sliding toggle bar -->
          <li class="nav-link">
            <button type="button" class="js-menu-trigger sliding-panel-button">
              <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/menu-white.png" alt="Menu Icon">
            </button>

            
            <!-- end of sliding toggle bar -->
          </li>
        <% else %>
          <li class="nav-link">
            <%= link_to "Taste Swing",  welcome_index_path %>
          </li>       
          <li class="nav-link">
            <label for="modal-1">
              <a>Log In</a>
            </label>
          </li>
          <li class="nav-link">
            <%= link_to "Sign Up", new_user_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
  
 
  
  <!-- sliding nav bar -->
  <nav class="js-menu sliding-panel-content">
    <ul>
      <li><%= link_to "Create event", new_event_path %></li>
      <li><%= link_to "Add bottle", new_bottle_path %></li>
      <li><%= link_to "Search bottles", bottles_path %></li>
    </ul>
  </nav>
  <div class="js-menu-screen sliding-panel-fade-screen"></div>

 <!-- sliding nav bar -->


   
</header>





